@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@1,700&display=swap');

:root {
	--dark_background: #24272E;
	--border: #005586;
	--main_blue: #005586;
	--button_grey: #5a5a5a;
	--button_grey_shadow: #666;
	--button_text: aliceblue;
	--disabled_grey: #dbdbdb;
	--blue_node: "#005586";
	--red_node: "#d02237"; 
	--yellow_node: "#d6ad4c";
	--green_node: "#8ab546";
	--blue_offset_node: "#1e8ac9";
	--red_offset_node: "#f44358"; 
	--yellow_offset_node: "#f5c759";
	--green_offset_node: "#abdb5f";
  }

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body, #fullheight {
    min-height: 100% !important;
    height: 100%;
}

body {
	background-color: var(--dark_background);
}

/*
header { 
	background: white;
	height: 8%;
	min-height:60px;
	min-width: 900px;
	display: flex;
	align-items: center;
}

header > h1 {
	color: #25272E;
	font-family: 'Balsamiq Sans', cursive;
	margin-left:44%; 
}
*/

.container {
	position: relative;
	height: 90%;
	min-height: 450px;
	min-width: 900px;
	border: 4px solid var(--border);
	border-bottom: 2px solid var(--border);
	border-radius: 15px;

	background-color: var(--dark_background);
  	background-image: radial-gradient(var(--main_blue) 2%, transparent 2%),
    	radial-gradient(var(--main_blue) 2%, transparent 2%);
  	background-size: 60px 60px;
  	background-position: 0 5, 10px 10px;
  	background-repeat: repeat;
}

.mainStage {
	position: relative;
	height: 0%;
	cursor:crosshair;
}

.mouseHUD {
	position: absolute;
	margin: -20px 10%;
	
}

footer { 
	height: 10%;
	min-height: 50px;
	min-width: 900px;
	display: flex;
	align-items: center;
	border: 4px solid var(--border);
	border-top: 2px solid var(--border);
	border-radius: 15px;

	background-color: var(--dark_background);
  	background-image: radial-gradient(var(--main_blue) 2%, transparent 2%),
    	radial-gradient(var(--main_blue) 2%, transparent 2%);
  	background-size: 60px 60px;
  	background-position: 0 5, 10px 10px;
  	background-repeat: repeat;
}

footer > h1 {
	color: var(--dark_background);
	text-align: center;
	font-family: 'Balsamiq Sans', cursive;
}

.buttonTable {
	margin-left:auto;
    margin-right:auto;
	position: relative;
}

.buttonTableHead {
    margin-left:auto;
	position: relative;
}

.buttonHead {
	background-color: var(--button_grey);
	height:60px;
	width: 60px;
	border-radius: 20px;
	transition-duration: 0.6s;
}

.headSpacer{
	padding: 5px;
}

.buttonHead:hover {
	background-color: var(--main_blue); 
	border: 2px solid var(--main_blue);
	transform: translateY(-4px);
	color: var(--button_text);
}

.buttonHead:active {
	background-color: var(--main_blue);
	box-shadow: 0 5px var(--button_grey_shadow);
	transition-duration: 0.2s;
	transform: translateY(0px);
}

.button {
	background-color: var(--main_blue);
	font-family: 'Balsamiq Sans', cursive;
	font-size: large;
	color: var(--button_text);
	height:60px;
	min-width: 80px;
	width: 7vw;
	border-radius: 14px;
	transition-duration: 0.2s;
}
.button:hover:not([disabled]) {
	background-color: var(--main_blue); 
	border: 2px solid var(--main_blue);
	transform: translateY(-5px);
	color: var(--button_text);  
}

.button:active:not([disabled]) {
	background-color: var(--main_blue);
	box-shadow: 0 5px var(--button_grey_shadow);
	transition-duration: 0.2s;
	transform: translateY(0px);
}

.button:disabled {
	opacity: 0.6;
	cursor:not-allowed;
}

.buttonImage {
	height: 36px;
}

.spacer{
	padding: 15px;
}

  .dropup {
	position: relative;
  }

 
  .dropup-content {
	display: none;
	position: absolute;
	background: transparent;
	bottom: 65px;
	z-index: 1;
  }
  
  /*
  .dropup-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  */
  
  .dropup:hover .dropup-content {
	display: block;
  }
  
  .buttonDropup {
  	background-color: var(--button_grey);
	font-family: 'Balsamiq Sans', cursive;
	font-size: medium;
	color: var(--button_text);
  	height:40px;
  	width: 50px;
  	border-radius: 20px;
  	transition-duration: 0.6s;
  }
  
  .buttonDropup:hover {
  	background-color: var(--main_blue); 
  	border: 2px solid var(--main_blue);
  	transform: translateY(-4px);
  	color: var(--button_text); 
  }
  
  .buttonDropup:active {
  	background-color: var(--main_blue);
  	box-shadow: 0 5px var(--button_grey_shadow);
  	transition-duration: 0.2s;
  	transform: translateY(0px);
  }


.buttonDropupFull {
	background-color: var(--button_grey);
  	font-family: 'Balsamiq Sans', cursive;
  	font-size: medium;
  	color:var(--button_text);
	height:40px;
	width: 7vw;
	border-radius: 20px;
	transition-duration: 0.6s;
}

.buttonDropupFull:hover {
	background-color: var(--main_blue); 
	border: 2px solid var(--main_blue);
	transform: translateY(-4px);
	color: var(--button_text);
}

.buttonDropupFull:active {
	background-color: var(--main_blue);
	box-shadow: 0 5px var(--button_grey_shadow);
	transition-duration: 0.2s;
	transform: translateY(0px);
}
  
.buttonDropupFull:disabled {
	background-color:var(--main_blue);
	cursor:not-allowed;
	color:var(--disabled_grey);
}

#snackbar {
	visibility: hidden;
	min-width: 250px;
	margin-left: -125px;
	background-color: var(--border);
	color: var(--button_text);
	text-align: center;
	border-radius: 15px;
	padding: 16px;
	position: fixed;
	z-index: 1;
	left: 50%;
	top: 50px;
	font-size: medium;
  }
  
  #snackbar.show {
	visibility: visible;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
	from {top: 0; opacity: 0;} 
	to {top: 50px; opacity: 1;}
  }
  
  @keyframes fadein {
	from {top: 0; opacity: 0;}
	to {top: 50px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
	from {top: 50px; opacity: 1;} 
	to {top: 0px; opacity: 0;}
  }
  
  @keyframes fadeout {
	from {top: 50px; opacity: 1;}
	to {top: 0px; opacity: 0;}
  }