@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@1,700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #24272E;
}

header { 
	background: white;
	padding: 20px;
}

header > h1 {
	color: #25272E;
	text-align: center;
	font-family: 'Balsamiq Sans', cursive;
}

.container {
	position: relative;
	margin: 2% 0px;
}

.mainStage {
	position: relative;
	margin: 0 5%;
	min-width: 775px;
	min-height: 550px;

	background-size: 30px 30px;
    background-image:
    linear-gradient(to right, #005586 1.5px, transparent 2px),
	linear-gradient(to bottom, #005586 1.5px, transparent 2px);
	border: 3px solid white;
}


.mouseHUD {
	position: absolute;
	margin: -10px 10%;
	
}